* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}
.topo{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 10px;
    justify-content: space-between;
    background-color:#4682B4;
}
.barrinha{
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
  background-color: #A9A9A9;
}
.imagem-grande{
  display: flex;
    }

    .anuncios  {
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: space-between;
        }

        